#header {display: flex; align-items: center; justify-content: space-between; padding: 30px 100px; border-bottom: 1px solid #ddd;}
#header .logo {width: 100px;}
#header .gnb {display: flex; align-items: center; gap: 30px;}

#footer {height: 200px; padding: 30px 100px; color: #fff; background-color: #000;}

.contents {padding: 50px 100px;}

#main {padding: 0;}
#main .swiper-container {position: relative;}
#main .swiper-arrow {top: 50%}

#news {}
#news ul {border-top: 1px solid #eee;}
#news ul li {padding: 10px; border-bottom: 1px solid #eee;}